<?xml version="1.0" encoding="UTF-8"?>
<configuration>
<logger name="com.xk.dao" level="DEBUG" /> <!--  dao接口路径输出mybatis sql语句-->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder 
			by default -->
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
		<!-- 例如如果指定了日志输出级别为DEBUG，那么INFO、ERROR级别的log也会出现在日志文件。这种默认给程序的调
		试带来了很多的麻烦。而在logback中可以通过appender中的filter来严格限制日志的输出级别： -->
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>INFO</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
	</appender>

	<root level="debug">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>  